/* font-family: 'Roboto', sans-serif;
font-family: 'Cairo', sans-serif;
font-family: 'Open Sans', sans-serif; */
body {
  margin: 0;
}
.container {
  padding: 10px;
  height: 100vh;
  width: 100%;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cont {
  margin: 10px;
  color: black;
  font-weight: bold;
  font-size: 17px;
}

.test {
  margin: 100px;
  color: red;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 600;
}
